### SQL and Pandas Data Frames

Python comes with **sqlite3** support, and Pandas can read/write SQL databases to/from data frames

In [27]:
import pandas as pd
import sqlite3

Let's see what's in our directory

In [2]:
!ls

age.csv                    play.db                    relational-databases.ipynb
long_data.csv              relational-databases.html  relational-databases.md

To use a database from pandas, first we must connect to it:

In [3]:
play_conn = sqlite3.connect('play.db')

`pd.read_sql` lets you execute a query and make a **DataFrame**

In [6]:
playwrights = pd.read_sql('select * from playwrights',play_conn)

In [7]:
playwrights

  first_name    last_name  year_of_birth  year_of_death
0    William  Shakespeare           1564           1616

In [8]:
playwrights.shape

(1, 4)

In [17]:
playwrights['first_name']

0    Bill
Name: first_name, dtype: object

In [18]:
play_conn.close()

In [19]:
long_data = pd.read_csv('long_data.csv')

In [23]:
long_data[0:10]

,Dilution,Analyte,FI-Bkgd,FI-Bkgd-Neg,CV,Participant ID,Visit Code,Visit Date,Sample Type,Buffer
0,50,p24 (19),474.8,454.800000,0.0372,URN2,0,10/14/1899,PLA,PBS
1,50,gp41 (44),470.8,452.800000,0.1387,URN2,0,10/14/1899,PLA,PBS
2,50,Con 6 gp120/B (72),52.5,44.500000,0.1183,URN2,0,10/14/1899,PLA,PBS
3,50,B.con.env03 140 CF (65),55.5,46.500000,0.1709,URN2,0,10/14/1899,PLA,PBS
4,50,Blank (53),29.0,NaN,0.0527,URN2,0,10/14/1899,PLA,PBS
5,50,Con S gp140 CFI (3),82.0,62.000000,0.1799,URN2,0,10/14/1899,PLA,PBS
6,50,p31 (50),474.4,455.400000,0.0885,URN2,0,10/14/1899,PLA,PBS
7,50,p66 (RT) (42),69.4,50.400000,0.0527,URN2,0,10/14/1899,PLA,PBS
8,50,MulVgp70_His6 (49),205.4,NaN,0.0861,URN2,0,10/14/1899,PLA,PBS
9,50,gp70_B.CaseA_V1_V2 (12),40.5,-64.766667,0.0615,URN2,0,10/14/1899,PLA,PBS

In [25]:
long_data_conn = sqlite3.connect('long_data.db')
long_data.to_sql('long_data',long_data_conn)

/Users/dcl9/Code/python/cfar-workshop/env/lib/python2.7/site-packages/pandas/io/sql.py:1371: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  warnings.warn(_SAFE_NAMES_WARNING)

In [26]:
long_data_con.close()