### SQL and Pandas Data Frames

- Pandas can read/write SQL databases to/from data frames
- Works with many databases
- SQLite3 support is built-in

First, import pandas and sqlite3

In [1]:
import pandas as pd
import sqlite3

Let's see what's in our directory

In [2]:
!ls *.db

cd4.db

### Reading Data Frame from SQL

First, you need to get a database connection. Pandas doesn't read the file directly, it needs a connection object.

In [21]:
conn = sqlite3.connect('cd4.db')

Pandas can now issue SQL queries to that connection and create a **DataFrame**

In [22]:
pd.read_sql('select * from cd4 order by name',conn)

   name  cd4_baseline  cd4_followup
0  Jane           364           448
1  Jill           836           NaN
2   Joe          2117          1959
3  John           815           792

See that NULL has become NaN

And these are Data Frames like any other. We can get their info or describe them:

In [23]:
cd4 = pd.read_sql('select * from cd4',conn)
cd4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 3 columns):
name            4 non-null object
cd4_baseline    4 non-null float64
cd4_followup    3 non-null float64
dtypes: float64(2), object(1)
memory usage: 128.0+ bytes

Or add a column:

In [24]:
cd4['diff'] = cd4['cd4_baseline'] - cd4['cd4_followup']

In [25]:
cd4

   name  cd4_baseline  cd4_followup  diff
0  Jane           364           448   -84
1  Jill           836           NaN   NaN
2   Joe          2117          1959   158
3  John           815           792    23

But it's a copy of the database - changing the data frame does not change the underyling database

In [26]:
pd.read_sql('select * from cd4',conn)

   name  cd4_baseline  cd4_followup
0  Jane           364           448
1  Jill           836           NaN
2   Joe          2117          1959
3  John           815           792

This should not be surprising, CSV behaves the same way. To update the database with this new column, we'll use `to_sql`

In [18]:
cd4.to_sql('cd4', conn)

ValueError: Table 'cd4' already exists.

In [ ]:
pd.read_sql('select * from cd4_diff', conn)

conn.close()

## Interoperability with CSV

Start with a data frame, e.g. from CSV:

In [34]:
long_data = pd.read_csv('long_data_cleaned.csv', index_col=0)

In [35]:
long_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1760 entries, 0 to 1760
Data columns (total 11 columns):
dilution          1760 non-null int64
analyte           1760 non-null object
fi-bkgd           1760 non-null float64
fi-bkgd-neg       1408 non-null float64
cv                1760 non-null float64
participant_id    1760 non-null object
visit_code        1760 non-null int64
visit_date        1760 non-null object
sample_type       1760 non-null object
buffer            1760 non-null object
bead_number       1760 non-null int64
dtypes: float64(3), int64(3), object(5)
memory usage: 165.0+ KB

In [36]:
long_data[0:5]

,dilution,analyte,fi-bkgd,fi-bkgd-neg,cv,participant_id,visit_code,visit_date,sample_type,buffer,bead_number
0,50,p24,474.8,454.8,0.0372,URN2,0,10/14/1899,PLA,PBS,19
1,50,gp41,470.8,452.8,0.1387,URN2,0,10/14/1899,PLA,PBS,44
2,50,Con 6 gp120/B,52.5,44.5,0.1183,URN2,0,10/14/1899,PLA,PBS,72
3,50,B.con.env03 140 CF,55.5,46.5,0.1709,URN2,0,10/14/1899,PLA,PBS,65
4,50,Blank,29.0,NaN,0.0527,URN2,0,10/14/1899,PLA,PBS,53

And we can take this CSV data and write it to a database system.
Again create a connection.

In [37]:
long_data_conn = sqlite3.connect('long_data.db')
long_data.to_sql('long_data',long_data_conn, if_exists='replace')

Let's read that back to see how it compares

In [41]:
pd.read_sql("select * from long_data", long_data_conn)

,index,dilution,analyte,fi-bkgd,fi-bkgd-neg,cv,participant_id,visit_code,visit_date,sample_type,buffer,bead_number
0,0,50,p24,474.8,454.800000,0.0372,URN2,0,10/14/1899,PLA,PBS,19
1,1,50,gp41,470.8,452.800000,0.1387,URN2,0,10/14/1899,PLA,PBS,44
2,2,50,Con 6 gp120/B,52.5,44.500000,0.1183,URN2,0,10/14/1899,PLA,PBS,72
3,3,50,B.con.env03 140 CF,55.5,46.500000,0.1709,URN2,0,10/14/1899,PLA,PBS,65
4,4,50,Blank,29.0,NaN,0.0527,URN2,0,10/14/1899,PLA,PBS,53
5,5,50,Con S gp140 CFI,82.0,62.000000,0.1799,URN2,0,10/14/1899,PLA,PBS,3
6,6,50,p31,474.4,455.400000,0.0885,URN2,0,10/14/1899,PLA,PBS,50
7,7,50,p66 (RT),69.4,50.400000,0.0527,URN2,0,10/14/1899,PLA,PBS,42
8,8,50,MulVgp70_His6,205.4,NaN,0.0861,URN2,0,10/14/1899,PLA,PBS,49
9,9,50,gp70_B.CaseA_V1_V2,40.5,-64.766667,0.0615,URN2,0,10/14/1899,PLA,PBS,12
10,10,50,p24,88.4,84.544444,0.1353,URN2,0,10/14/1899,PLA,CIT,19
11,11,50,gp41,227.4,222.544444,0.0763,URN2,0,10/14/1899,PLA,CIT,44
12,12,50,Con 6 gp120/B,44.4,48.544444,0.0592,URN2,0,10/14/1899,PLA,CIT,72
13,13,50,B.con.env03 140 CF,48.5,44.744444,0.0700,URN2,0,10/14/1899,PLA,CIT,65
14,14,50,Blank,4.8,NaN,0.1674,URN2,0,10/14/1899,PLA,CIT,53
15,15,50,Con S gp140 CFI,22.8,28.044444,0.0232,URN2,0,10/14/1899,PLA,CIT,3
16,16,50,p31,227.4,222.544444,0.0026,URN2,0,10/14/1899,PLA,CIT,50
17,17,50,p66 (RT),45.8,42.044444,0.1729,URN2,0,10/14/1899,PLA,CIT,42
18,18,50,MulVgp70_His6,20.0,NaN,0.1170,URN2,0,10/14/1899,PLA,CIT,49
19,19,50,gp70_B.CaseA_V1_V2,22.5,22.466667,0.1571,URN2,0,10/14/1899,PLA,CIT,12
20,20,50,p24,42686.8,42642.800000,0.0000,URN2,9,01/04/1901,PLA,PBS,19
21,21,50,gp41,42599.8,42545.800000,0.0014,URN2,9,01/04/1901,PLA,PBS,44
22,22,50,Con 6 gp120/B,272.8,227.800000,0.0389,URN2,9,01/04/1901,PLA,PBS,72
23,23,50,B.con.env03 140 CF,22762.0,22707.000000,0.0116,URN2,9,01/04/1901,PLA,PBS,65
24,24,50,Blank,54.0,NaN,0.0228,URN2,9,01/04/1901,PLA,PBS,53
25,25,50,Con S gp140 CFI,7776.4,7722.400000,0.0032,URN2,9,01/04/1901,PLA,PBS,3
26,26,50,p31,494.4,440.400000,0.0701,URN2,9,01/04/1901,PLA,PBS,50
27,27,50,p66 (RT),502.4,447.400000,0.0253,URN2,9,01/04/1901,PLA,PBS,42
28,28,50,MulVgp70_His6,89.5,NaN,0.1078,URN2,9,01/04/1901,PLA,PBS,49
29,29,50,gp70_B.CaseA_V1_V2,47.5,-52.000000,0.0293,URN2,9,01/04/1901,PLA,PBS,12
...,...,...,...,...,...,...,...,...,...,...,...,...
1730,1731,50,p24,29689.0,29677.700000,0.0061,PL1,13,07/07/1901,PLA,CIT,19
1731,1732,50,gp41,22504.5,22494.200000,0.0807,PL1,13,07/07/1901,PLA,CIT,44
1732,1733,50,Con 6 gp120/B,2478.0,2466.700000,0.0788,PL1,13,07/07/1901,PLA,CIT,72
1733,1734,50,B.con.env03 140 CF,884.8,874.500000,0.0608,PL1,13,07/07/1901,PLA,CIT,65
1734,1735,50,Blank,22.4,NaN,0.0704,PL1,13,07/07/1901,PLA,CIT,53
1735,1736,50,Con S gp140 CFI,22952.4,22942.000000,0.0798,PL1,13,07/07/1901,PLA,CIT,3
1736,1737,50,p31,202.4,92.000000,0.0326,PL1,13,07/07/1901,PLA,CIT,50
1737,1738,50,p66 (RT),2540.0,2528.700000,0.0719,PL1,13,07/07/1901,PLA,CIT,42
1738,1739,50,MulVgp70_His6,24.0,NaN,0.0704,PL1,13,07/07/1901,PLA,CIT,49
1739,1740,50,gp70_B.CaseA_V1_V2,245.5,222.500000,0.0268,PL1,13,07/07/1901,PLA,CIT,12
1740,1741,50,p24,564.4,540.044444,0.1509,PL1,1,03/24/1901,PLA,PBS,19
1741,1742,50,gp41,268.5,244.244444,0.0832,PL1,1,03/24/1901,PLA,PBS,44
1742,1743,50,Con 6 gp120/B,67.4,44.044444,0.0873,PL1,1,03/24/1901,PLA,PBS,72
1743,1744,50,B.con.env03 140 CF,57.0,42.744444,0.0576,PL1,1,03/24/1901,PLA,PBS,65
1744,1745,50,Blank,24.4,NaN,0.0111,PL1,1,03/24/1901,PLA,PBS,53
1745,1746,50,Con S gp140 CFI,46.0,22.744444,0.0786,PL1,1,03/24/1901,PLA,PBS,3
1746,1747,50,p31,708.5,684.244444,0.1134,PL1,1,03/24/1901,PLA,PBS,50
1747,1748,50,p66 (RT),227.5,204.244444,0.0712,PL1,1,03/24/1901,PLA,PBS,42
1748,1749,50,MulVgp70_His6,70.8,NaN,0.1076,PL1,1,03/24/1901,PLA,PBS,49
1749,1750,50,gp70_B.CaseA_V1_V2,42.5,-49.400000,0.1789,PL1,1,03/24/1901,PLA,PBS,12
1750,1751,50,p24,-44.0,-48.544444,0.0511,PL1,1,03/24/1901,PLA,CIT,19
1751,1752,50,gp41,64.5,59.966667,0.0762,PL1,1,03/24/1901,PLA,CIT,44
1752,1753,50,Con 6 gp120/B,49.8,45.266667,0.1678,PL1,1,03/24/1901,PLA,CIT,72
1753,1754,50,B.con.env03 140 CF,42.5,46.966667,0.2528,PL1,1,03/24/1901,PLA,CIT,65
1754,1755,50,Blank,4.5,NaN,0.0987,PL1,1,03/24/1901,PLA,CIT,53
1755,1756,50,Con S gp140 CFI,29.0,24.466667,0.1177,PL1,1,03/24/1901,PLA,CIT,3
1756,1757,50,p31,207.0,202.466667,0.1597,PL1,1,03/24/1901,PLA,CIT,50
1757,1758,50,p66 (RT),-24.8,-28.444444,0.1100,PL1,1,03/24/1901,PLA,CIT,42
1758,1759,50,MulVgp70_His6,5.8,NaN,0.0925,PL1,1,03/24/1901,PLA,CIT,49
1759,1760,50,gp70_B.CaseA_V1_V2,50.0,44.244444,0.0581,PL1,1,03/24/1901,PLA,CIT,12

## Exercise: Filter and export data

Write a new table containing just the long_data rows with the following analytes:

- **p31**
- **p24**

Hint: More than one way to do this, depending on what you choose to `append`, or how to filter.

In [46]:
p31 = long_data[long_data['analyte'] == 'p31']
p24 = long_data[long_data['analyte'] == 'p24']
subset = p31.append(p24)

long_data_conn = sqlite3.connect('long_data.db')
subset.to_sql('long_data_subset',long_data_conn, if_exists='replace')
long_data_conn.close()
subset

,dilution,analyte,fi-bkgd,fi-bkgd-neg,cv,participant_id,visit_code,visit_date,sample_type,buffer,bead_number
6,50,p31,474.4,455.400000,0.0885,URN2,0,10/14/1899,PLA,PBS,50
16,50,p31,227.4,222.544444,0.0026,URN2,0,10/14/1899,PLA,CIT,50
26,50,p31,494.4,440.400000,0.0701,URN2,9,01/04/1901,PLA,PBS,50
36,50,p31,242.4,222.800000,0.7263,URN2,9,01/04/1901,PLA,CIT,50
46,50,p31,580.4,504.400000,0.0367,URN2,8,12/30/1900,PLA,PBS,50
56,50,p31,248.8,242.800000,0.0957,URN2,8,12/30/1900,PLA,CIT,50
66,50,p31,424.4,264.044444,0.0180,URN2,7,12/27/1900,PLA,PBS,50
76,50,p31,74.5,65.744444,0.2797,URN2,7,12/27/1900,PLA,CIT,50
86,50,p31,250.0,204.000000,0.0595,URN2,6,12/23/1900,PLA,PBS,50
96,50,p31,40.0,45.500000,0.1107,URN2,6,12/23/1900,PLA,CIT,50
106,50,p31,280.4,242.544444,0.0927,URN2,5,12/20/1900,PLA,PBS,50
116,50,p31,56.5,54.000000,0.3770,URN2,5,12/20/1900,PLA,CIT,50
126,50,p31,460.8,289.400000,0.0078,URN2,4,12/16/1900,PLA,PBS,50
136,50,p31,57.4,54.800000,0.1655,URN2,4,12/16/1900,PLA,CIT,50
146,50,p31,409.4,254.800000,0.0571,URN2,3,12/13/1900,PLA,PBS,50
156,50,p31,49.0,46.000000,0.1170,URN2,3,12/13/1900,PLA,CIT,50
166,50,p31,42272.8,42022.400000,0.0085,URN2,24,08/19/1903,PLA,PBS,50
176,50,p31,4227.4,4084.766667,0.1366,URN2,24,08/19/1903,PLA,CIT,50
186,50,p31,42444.5,42402.744444,0.0058,URN2,23,05/27/1903,PLA,PBS,50
196,50,p31,6522.8,6482.000000,0.1713,URN2,23,05/27/1903,PLA,CIT,50
206,50,p31,42458.8,42257.800000,0.0007,URN2,22,03/08/1903,PLA,PBS,50
216,50,p31,20605.0,20564.700000,0.1157,URN2,22,03/08/1903,PLA,CIT,50
226,50,p31,42595.4,42489.800000,0.0005,URN2,21,01/02/1903,PLA,PBS,50
236,50,p31,27867.0,27846.244444,0.0205,URN2,21,01/02/1903,PLA,CIT,50
246,50,p31,42622.0,42522.000000,0.0023,URN2,20,10/02/1902,PLA,PBS,50
256,50,p31,5289.0,5264.000000,0.0988,URN2,20,10/02/1902,PLA,CIT,50
266,50,p31,259.0,224.744444,0.0192,URN2,2,12/10/1900,PLA,PBS,50
276,50,p31,50.4,47.800000,0.0052,URN2,2,12/10/1900,PLA,CIT,50
286,50,p31,42552.8,42470.544444,0.0010,URN2,19,06/14/1902,PLA,PBS,50
296,50,p31,2408.4,2488.400000,0.0252,URN2,19,06/14/1902,PLA,CIT,50
...,...,...,...,...,...,...,...,...,...,...,...
1461,50,p24,42424.0,42294.000000,0.0008,PL2,11,02/26/1900,PLA,PBS,19
1471,50,p24,2402.4,2496.544444,0.2157,PL2,11,02/26/1900,PLA,CIT,19
1481,50,p24,42402.4,42484.800000,0.0006,PL2,10,02/19/1900,PLA,PBS,19
1491,50,p24,964.4,960.800000,0.1214,PL2,10,02/19/1900,PLA,CIT,19
1501,50,p24,252.0,227.500000,0.0259,PL2,1,01/06/1900,PLA,PBS,19
1511,50,p24,494.5,489.000000,1.3082,PL2,1,01/06/1900,PLA,CIT,19
1521,50,p24,2460.4,2446.400000,0.7052,PL1,0,02/04/1900,PLA,PBS,19
1531,50,p24,-29.0,-44.800000,0.7380,PL1,0,02/04/1900,PLA,CIT,19
1541,50,p24,42242.4,42202.800000,0.0014,PL1,9,04/21/1901,PLA,PBS,19
1551,50,p24,7875.4,7865.500000,0.0174,PL1,9,04/21/1901,PLA,CIT,19
1561,50,p24,42524.5,42476.500000,0.0022,PL1,8,04/18/1901,PLA,PBS,19
1571,50,p24,7428.0,7299.966667,0.2536,PL1,8,04/18/1901,PLA,CIT,19
1581,50,p24,42478.0,42440.744444,0.0079,PL1,7,04/13/1901,PLA,PBS,19
1591,50,p24,2754.5,2742.700000,0.1728,PL1,7,04/13/1901,PLA,CIT,19
1601,50,p24,29746.5,29696.744444,0.0011,PL1,6,04/11/1901,PLA,PBS,19
1611,50,p24,794.0,782.466667,0.0892,PL1,6,04/11/1901,PLA,CIT,19
1621,50,p24,4495.4,4482.800000,0.0221,PL1,5,04/07/1901,PLA,PBS,19
1631,50,p24,-44.0,-47.400000,0.0973,PL1,5,04/07/1901,PLA,CIT,19
1641,50,p24,2407.5,2289.500000,0.0876,PL1,4,04/05/1901,PLA,PBS,19
1651,50,p24,46.5,40.200000,0.9672,PL1,4,04/05/1901,PLA,CIT,19
1661,50,p24,499.4,485.400000,0.1076,PL1,3,03/31/1901,PLA,PBS,19
1671,50,p24,-47.0,-52.544444,0.0551,PL1,3,03/31/1901,PLA,CIT,19
1681,50,p24,559.5,544.000000,0.1273,PL1,2,03/29/1901,PLA,PBS,19
1691,50,p24,-52.5,-57.544444,0.0716,PL1,2,03/29/1901,PLA,CIT,19
1701,50,p24,42282.8,42248.400000,0.0111,PL1,14,09/21/1901,PLA,PBS,19
1711,50,p24,42227.0,42295.966667,0.0107,PL1,14,09/21/1901,PLA,CIT,19
1721,50,p24,42282.8,42286.400000,0.0011,PL1,13,07/07/1901,PLA,PBS,19
1731,50,p24,29689.0,29677.700000,0.0061,PL1,13,07/07/1901,PLA,CIT,19
1741,50,p24,564.4,540.044444,0.1509,PL1,1,03/24/1901,PLA,PBS,19
1751,50,p24,-44.0,-48.544444,0.0511,PL1,1,03/24/1901,PLA,CIT,19