### SQL and Pandas Data Frames

- Pandas can read/write SQL databases to/from data frames
- Works with many databases
- SQLite3 support is built-in

First, import pandas and sqlite3

In [ ]:
import pandas as pd
import sqlite3

Let's see what's in our directory

In [ ]:
!ls *.db

### Reading Data Frame from SQL

First, you need to get a database connection. Pandas doesn't read the file directly, it needs a connection object.

In [ ]:
play_conn = sqlite3.connect('play.db')

Pandas can now issue SQL queries to that connection and create a **DataFrame**

In [68]:
pd.read_sql('select * from playwrights',play_conn)

  first_name    last_name  year_of_birth  year_of_death
0    William  Shakespeare           1564           1616

And these are Data Frames like any other. We can get their info:

In [69]:
p = pd.read_sql('select * from playwrights',play_conn)
p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 4 columns):
first_name       1 non-null object
last_name        1 non-null object
year_of_birth    1 non-null int64
year_of_death    1 non-null int64
dtypes: int64(2), object(2)
memory usage: 40.0+ bytes

Or add a column:

In [70]:
p['age'] = p['year_of_death'] - p['year_of_birth']

In [71]:
p

  first_name    last_name  year_of_birth  year_of_death  age
0    William  Shakespeare           1564           1616   52

But it's a copy of the database - changing the data frame does not change the underyling database

In [72]:
pd.read_sql('select * from playwrights',play_conn)

  first_name    last_name  year_of_birth  year_of_death
0    William  Shakespeare           1564           1616

This should not be surprising, CSV behaves the same way. To update the database with this new column, we'll use `to_sql`

In [73]:
p.to_sql('playwrights', play_conn)

ValueError: Table 'playwrights' already exists.

In [ ]:
pd.read_sql('select * from playwrights_age', play_conn)

play_conn.close()

## Interoperability with CSV

Start with a data frame, e.g. from CSV:

In [ ]:
long_data = pd.read_csv('long_data.csv')

In [ ]:
long_data.info()

In [ ]:
long_data[0:5]

And we can take this CSV data and write it to a database system.
Again create a connection.

In [ ]:
long_data_conn = sqlite3.connect('long_data.db')
long_data.to_sql('long_data',long_data_conn, if_exists='replace')

Let's read that back to see how it compares

In [49]:
pd.read_sql("select * from long_data", long_data_conn)

,index,Dilution,Analyte,FI-Bkgd,FI-Bkgd-Neg,CV,Participant ID,Visit Code,Visit Date,Sample Type,Buffer
0,0,50,p24 (19),474.8,454.800000,0.0372,URN2,0,10/14/1899,PLA,PBS
1,1,50,gp41 (44),470.8,452.800000,0.1387,URN2,0,10/14/1899,PLA,PBS
2,2,50,Con 6 gp120/B (72),52.5,44.500000,0.1183,URN2,0,10/14/1899,PLA,PBS
3,3,50,B.con.env03 140 CF (65),55.5,46.500000,0.1709,URN2,0,10/14/1899,PLA,PBS
4,4,50,Blank (53),29.0,NaN,0.0527,URN2,0,10/14/1899,PLA,PBS
5,5,50,Con S gp140 CFI (3),82.0,62.000000,0.1799,URN2,0,10/14/1899,PLA,PBS
6,6,50,p31 (50),474.4,455.400000,0.0885,URN2,0,10/14/1899,PLA,PBS
7,7,50,p66 (RT) (42),69.4,50.400000,0.0527,URN2,0,10/14/1899,PLA,PBS
8,8,50,MulVgp70_His6 (49),205.4,NaN,0.0861,URN2,0,10/14/1899,PLA,PBS
9,9,50,gp70_B.CaseA_V1_V2 (12),40.5,-64.766667,0.0615,URN2,0,10/14/1899,PLA,PBS
10,10,50,p24 (19),88.4,84.544444,0.1353,URN2,0,10/14/1899,PLA,CIT
11,11,50,gp41 (44),227.4,222.544444,0.0763,URN2,0,10/14/1899,PLA,CIT
12,12,50,Con 6 gp120/B (72),44.4,48.544444,0.0592,URN2,0,10/14/1899,PLA,CIT
13,13,50,B.con.env03 140 CF (65),48.5,44.744444,0.0700,URN2,0,10/14/1899,PLA,CIT
14,14,50,Blank (53),4.8,NaN,0.1674,URN2,0,10/14/1899,PLA,CIT
15,15,50,Con S gp140 CFI (3),22.8,28.044444,0.0232,URN2,0,10/14/1899,PLA,CIT
16,16,50,p31 (50),227.4,222.544444,0.0026,URN2,0,10/14/1899,PLA,CIT
17,17,50,p66 (RT) (42),45.8,42.044444,0.1729,URN2,0,10/14/1899,PLA,CIT
18,18,50,MulVgp70_His6 (49),20.0,NaN,0.1170,URN2,0,10/14/1899,PLA,CIT
19,19,50,gp70_B.CaseA_V1_V2 (12),22.5,22.466667,0.1571,URN2,0,10/14/1899,PLA,CIT
20,20,50,p24 (19),42686.8,42642.800000,0.0000,URN2,9,01/04/1901,PLA,PBS
21,21,50,gp41 (44),42599.8,42545.800000,0.0014,URN2,9,01/04/1901,PLA,PBS
22,22,50,Con 6 gp120/B (72),272.8,227.800000,0.0389,URN2,9,01/04/1901,PLA,PBS
23,23,50,B.con.env03 140 CF (65),22762.0,22707.000000,0.0116,URN2,9,01/04/1901,PLA,PBS
24,24,50,Blank (53),54.0,NaN,0.0228,URN2,9,01/04/1901,PLA,PBS
25,25,50,Con S gp140 CFI (3),7776.4,7722.400000,0.0032,URN2,9,01/04/1901,PLA,PBS
26,26,50,p31 (50),494.4,440.400000,0.0701,URN2,9,01/04/1901,PLA,PBS
27,27,50,p66 (RT) (42),502.4,447.400000,0.0253,URN2,9,01/04/1901,PLA,PBS
28,28,50,MulVgp70_His6 (49),89.5,NaN,0.1078,URN2,9,01/04/1901,PLA,PBS
29,29,50,gp70_B.CaseA_V1_V2 (12),47.5,-52.000000,0.0293,URN2,9,01/04/1901,PLA,PBS
...,...,...,...,...,...,...,...,...,...,...,...
1731,1731,50,p24 (19),29689.0,29677.700000,0.0061,PL1,13,07/07/1901,PLA,CIT
1732,1732,50,gp41 (44),22504.5,22494.200000,0.0807,PL1,13,07/07/1901,PLA,CIT
1733,1733,50,Con 6 gp120/B (72),2478.0,2466.700000,0.0788,PL1,13,07/07/1901,PLA,CIT
1734,1734,50,B.con.env03 140 CF (65),884.8,874.500000,0.0608,PL1,13,07/07/1901,PLA,CIT
1735,1735,50,Blank (53),22.4,NaN,0.0704,PL1,13,07/07/1901,PLA,CIT
1736,1736,50,Con S gp140 CFI (3),22952.4,22942.000000,0.0798,PL1,13,07/07/1901,PLA,CIT
1737,1737,50,p31 (50),202.4,92.000000,0.0326,PL1,13,07/07/1901,PLA,CIT
1738,1738,50,p66 (RT) (42),2540.0,2528.700000,0.0719,PL1,13,07/07/1901,PLA,CIT
1739,1739,50,MulVgp70_His6 (49),24.0,NaN,0.0704,PL1,13,07/07/1901,PLA,CIT
1740,1740,50,gp70_B.CaseA_V1_V2 (12),245.5,222.500000,0.0268,PL1,13,07/07/1901,PLA,CIT
1741,1741,50,p24 (19),564.4,540.044444,0.1509,PL1,1,03/24/1901,PLA,PBS
1742,1742,50,gp41 (44),268.5,244.244444,0.0832,PL1,1,03/24/1901,PLA,PBS
1743,1743,50,Con 6 gp120/B (72),67.4,44.044444,0.0873,PL1,1,03/24/1901,PLA,PBS
1744,1744,50,B.con.env03 140 CF (65),57.0,42.744444,0.0576,PL1,1,03/24/1901,PLA,PBS
1745,1745,50,Blank (53),24.4,NaN,0.0111,PL1,1,03/24/1901,PLA,PBS
1746,1746,50,Con S gp140 CFI (3),46.0,22.744444,0.0786,PL1,1,03/24/1901,PLA,PBS
1747,1747,50,p31 (50),708.5,684.244444,0.1134,PL1,1,03/24/1901,PLA,PBS
1748,1748,50,p66 (RT) (42),227.5,204.244444,0.0712,PL1,1,03/24/1901,PLA,PBS
1749,1749,50,MulVgp70_His6 (49),70.8,NaN,0.1076,PL1,1,03/24/1901,PLA,PBS
1750,1750,50,gp70_B.CaseA_V1_V2 (12),42.5,-49.400000,0.1789,PL1,1,03/24/1901,PLA,PBS
1751,1751,50,p24 (19),-44.0,-48.544444,0.0511,PL1,1,03/24/1901,PLA,CIT
1752,1752,50,gp41 (44),64.5,59.966667,0.0762,PL1,1,03/24/1901,PLA,CIT
1753,1753,50,Con 6 gp120/B (72),49.8,45.266667,0.1678,PL1,1,03/24/1901,PLA,CIT
1754,1754,50,B.con.env03 140 CF (65),42.5,46.966667,0.2528,PL1,1,03/24/1901,PLA,CIT
1755,1755,50,Blank (53),4.5,NaN,0.0987,PL1,1,03/24/1901,PLA,CIT
1756,1756,50,Con S gp140 CFI (3),29.0,24.466667,0.1177,PL1,1,03/24/1901,PLA,CIT
1757,1757,50,p31 (50),207.0,202.466667,0.1597,PL1,1,03/24/1901,PLA,CIT
1758,1758,50,p66 (RT) (42),-24.8,-28.444444,0.1100,PL1,1,03/24/1901,PLA,CIT
1759,1759,50,MulVgp70_His6 (49),5.8,NaN,0.0925,PL1,1,03/24/1901,PLA,CIT
1760,1760,50,gp70_B.CaseA_V1_V2 (12),50.0,44.244444,0.0581,PL1,1,03/24/1901,PLA,CIT

## Exercise: Filter and export data

Write a new table containing just the long_data rows with the following analytes:

- **p31 (50)**
- **p24 (19)**

Hint: More than one way to do this, depending on what you choose to `append`, or how to filter.

In [66]:
p31 = long_data[long_data['Analyte'] == 'p31 (50)']
p24 = long_data[long_data['Analyte'] == 'p24 (19)']
subset = p31.append(p24)
subset

long_data_conn = sqlite3.connect('long_data.db')
subset.to_sql('long_data_subset',long_data_conn)
long_data_conn.close()