### SQL and Pandas Data Frames

- Pandas can read/write SQL databases to/from data frames
- Works with many databases
- SQLite3 support is built-in

Getting Started:

1. Create a new notebook in the directory with the `cd4.db` file
2. import pandas and sqlite3

In [1]:
import pandas as pd
import sqlite3

Let's see what's in our directory

In [2]:
%ls

01-intro-relational-databases.ipynb
02-relational-databases-and-dataframes.ipynb
README.md
cd4.db
long_data.db
long_data_cleaned.csv
long_data_cleaned.db

### Reading Data Frame from SQL

First, you need to get a database connection. Pandas doesn't read the file directly, it needs a connection object.

In [3]:
conn = sqlite3.connect('cd4.db')

Pandas can now issue SQL queries to that connection and create a **DataFrame**

We know we have a cd4 table and can order by name

In [4]:
pd.read_sql("SELECT * from cd4 order by name", conn, index_col='name')

      cd4_baseline  cd4_followup
name
Jane           364           448
Jill           836           NaN
Joe           2117          1959
John           815           792

See that NULL has become NaN

And these are Data Frames like any other. We can get their info or describe them:

In [5]:
cd4 = pd.read_sql('select * from cd4',conn)

In [6]:
print cd4.info()
cd4.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 3 columns):
name            4 non-null object
cd4_baseline    4 non-null float64
cd4_followup    3 non-null float64
dtypes: float64(2), object(1)
memory usage: 128.0+ bytes
None

       cd4_baseline  cd4_followup
count      4.000000      3.000000
mean    1033.000000   1066.333333
std      754.751615    791.974958
min      364.000000    448.000000
25%      702.250000    620.000000
50%      825.500000    792.000000
75%     1156.250000   1375.500000
max     2117.000000   1959.000000

Or add a column:

In [7]:
cd4['diff'] = cd4['cd4_baseline'] - cd4['cd4_followup']
cd4

   name  cd4_baseline  cd4_followup  diff
0  Jane           364           448   -84
1  Jill           836           NaN   NaN
2   Joe          2117          1959   158
3  John           815           792    23

But it's a copy of the database - changing the data frame does not change the underyling database

In [8]:
pd.read_sql('select * from cd4',conn)

   name  cd4_baseline  cd4_followup
0  Jane           364           448
1  Jill           836           NaN
2   Joe          2117          1959
3  John           815           792

This should not be surprising, CSV behaves the same way.

### Exercise: Custom SQL to Data Frame

Create a data frame from the cd4 database using pd.read_sql:

1. with rows ordered by **cd4_baseline** (ascending)
2. with only the **name** and **cd4_baseline** columns
3. with all columns, adding the **diff** column as `cd4_baseline - cd4_followup`

In [9]:
# Starting query
pd.read_sql('select *, cd4_baseline - cd4_followup as diff from cd4 order by cd4_baseline asc', conn)

   name  cd4_baseline  cd4_followup  diff
0  Jane           364           448   -84
1  John           815           792    23
2  Jill           836           NaN   NaN
3   Joe          2117          1959   158

In [10]:
conn.close()

## Interoperability with CSV

Start with a data frame, e.g. from CSV:

In [11]:
long_data = pd.read_csv('long_data_cleaned.csv', index_col=0)
long_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1760 entries, 0 to 1760
Data columns (total 11 columns):
dilution          1760 non-null int64
analyte           1760 non-null object
fi-bkgd           1760 non-null float64
fi-bkgd-neg       1408 non-null float64
cv                1760 non-null float64
participant_id    1760 non-null object
visit_code        1760 non-null int64
visit_date        1760 non-null object
sample_type       1760 non-null object
buffer            1760 non-null object
bead_number       1760 non-null int64
dtypes: float64(3), int64(3), object(5)
memory usage: 165.0+ KB

In [12]:
long_data.head()

,dilution,analyte,fi-bkgd,fi-bkgd-neg,cv,participant_id,visit_code,visit_date,sample_type,buffer,bead_number
0,50,p24,474.8,454.8,0.0372,URN2,0,10/14/1899,PLA,PBS,19
1,50,gp41,470.8,452.8,0.1387,URN2,0,10/14/1899,PLA,PBS,44
2,50,Con 6 gp120/B,52.5,44.5,0.1183,URN2,0,10/14/1899,PLA,PBS,72
3,50,B.con.env03 140 CF,55.5,46.5,0.1709,URN2,0,10/14/1899,PLA,PBS,65
4,50,Blank,29.0,NaN,0.0527,URN2,0,10/14/1899,PLA,PBS,53

And we can take this CSV data and write it to a database system.
Again create a connection.

In [13]:
conn = sqlite3.connect('long_data_cleaned.db')
long_data.to_sql('long_data_cleaned', conn, if_exists='replace')

Let's read that back to see how it compares

In [14]:
pd.read_sql('select * from long_data_cleaned', conn, index_col='index')

,dilution,analyte,fi-bkgd,fi-bkgd-neg,cv,participant_id,visit_code,visit_date,sample_type,buffer,bead_number
index,,,,,,,,,,,
0,50,p24,474.8,454.800000,0.0372,URN2,0,10/14/1899,PLA,PBS,19
1,50,gp41,470.8,452.800000,0.1387,URN2,0,10/14/1899,PLA,PBS,44
2,50,Con 6 gp120/B,52.5,44.500000,0.1183,URN2,0,10/14/1899,PLA,PBS,72
3,50,B.con.env03 140 CF,55.5,46.500000,0.1709,URN2,0,10/14/1899,PLA,PBS,65
4,50,Blank,29.0,NaN,0.0527,URN2,0,10/14/1899,PLA,PBS,53
5,50,Con S gp140 CFI,82.0,62.000000,0.1799,URN2,0,10/14/1899,PLA,PBS,3
6,50,p31,474.4,455.400000,0.0885,URN2,0,10/14/1899,PLA,PBS,50
7,50,p66 (RT),69.4,50.400000,0.0527,URN2,0,10/14/1899,PLA,PBS,42
8,50,MulVgp70_His6,205.4,NaN,0.0861,URN2,0,10/14/1899,PLA,PBS,49
9,50,gp70_B.CaseA_V1_V2,40.5,-64.766667,0.0615,URN2,0,10/14/1899,PLA,PBS,12
10,50,p24,88.4,84.544444,0.1353,URN2,0,10/14/1899,PLA,CIT,19
11,50,gp41,227.4,222.544444,0.0763,URN2,0,10/14/1899,PLA,CIT,44
12,50,Con 6 gp120/B,44.4,48.544444,0.0592,URN2,0,10/14/1899,PLA,CIT,72
13,50,B.con.env03 140 CF,48.5,44.744444,0.0700,URN2,0,10/14/1899,PLA,CIT,65
14,50,Blank,4.8,NaN,0.1674,URN2,0,10/14/1899,PLA,CIT,53
15,50,Con S gp140 CFI,22.8,28.044444,0.0232,URN2,0,10/14/1899,PLA,CIT,3
16,50,p31,227.4,222.544444,0.0026,URN2,0,10/14/1899,PLA,CIT,50
17,50,p66 (RT),45.8,42.044444,0.1729,URN2,0,10/14/1899,PLA,CIT,42
18,50,MulVgp70_His6,20.0,NaN,0.1170,URN2,0,10/14/1899,PLA,CIT,49
19,50,gp70_B.CaseA_V1_V2,22.5,22.466667,0.1571,URN2,0,10/14/1899,PLA,CIT,12
20,50,p24,42686.8,42642.800000,0.0000,URN2,9,01/04/1901,PLA,PBS,19
21,50,gp41,42599.8,42545.800000,0.0014,URN2,9,01/04/1901,PLA,PBS,44
22,50,Con 6 gp120/B,272.8,227.800000,0.0389,URN2,9,01/04/1901,PLA,PBS,72
23,50,B.con.env03 140 CF,22762.0,22707.000000,0.0116,URN2,9,01/04/1901,PLA,PBS,65
24,50,Blank,54.0,NaN,0.0228,URN2,9,01/04/1901,PLA,PBS,53
25,50,Con S gp140 CFI,7776.4,7722.400000,0.0032,URN2,9,01/04/1901,PLA,PBS,3
26,50,p31,494.4,440.400000,0.0701,URN2,9,01/04/1901,PLA,PBS,50
27,50,p66 (RT),502.4,447.400000,0.0253,URN2,9,01/04/1901,PLA,PBS,42
28,50,MulVgp70_His6,89.5,NaN,0.1078,URN2,9,01/04/1901,PLA,PBS,49
29,50,gp70_B.CaseA_V1_V2,47.5,-52.000000,0.0293,URN2,9,01/04/1901,PLA,PBS,12
...,...,...,...,...,...,...,...,...,...,...,...
1731,50,p24,29689.0,29677.700000,0.0061,PL1,13,07/07/1901,PLA,CIT,19
1732,50,gp41,22504.5,22494.200000,0.0807,PL1,13,07/07/1901,PLA,CIT,44
1733,50,Con 6 gp120/B,2478.0,2466.700000,0.0788,PL1,13,07/07/1901,PLA,CIT,72
1734,50,B.con.env03 140 CF,884.8,874.500000,0.0608,PL1,13,07/07/1901,PLA,CIT,65
1735,50,Blank,22.4,NaN,0.0704,PL1,13,07/07/1901,PLA,CIT,53
1736,50,Con S gp140 CFI,22952.4,22942.000000,0.0798,PL1,13,07/07/1901,PLA,CIT,3
1737,50,p31,202.4,92.000000,0.0326,PL1,13,07/07/1901,PLA,CIT,50
1738,50,p66 (RT),2540.0,2528.700000,0.0719,PL1,13,07/07/1901,PLA,CIT,42
1739,50,MulVgp70_His6,24.0,NaN,0.0704,PL1,13,07/07/1901,PLA,CIT,49
1740,50,gp70_B.CaseA_V1_V2,245.5,222.500000,0.0268,PL1,13,07/07/1901,PLA,CIT,12
1741,50,p24,564.4,540.044444,0.1509,PL1,1,03/24/1901,PLA,PBS,19
1742,50,gp41,268.5,244.244444,0.0832,PL1,1,03/24/1901,PLA,PBS,44
1743,50,Con 6 gp120/B,67.4,44.044444,0.0873,PL1,1,03/24/1901,PLA,PBS,72
1744,50,B.con.env03 140 CF,57.0,42.744444,0.0576,PL1,1,03/24/1901,PLA,PBS,65
1745,50,Blank,24.4,NaN,0.0111,PL1,1,03/24/1901,PLA,PBS,53
1746,50,Con S gp140 CFI,46.0,22.744444,0.0786,PL1,1,03/24/1901,PLA,PBS,3
1747,50,p31,708.5,684.244444,0.1134,PL1,1,03/24/1901,PLA,PBS,50
1748,50,p66 (RT),227.5,204.244444,0.0712,PL1,1,03/24/1901,PLA,PBS,42
1749,50,MulVgp70_His6,70.8,NaN,0.1076,PL1,1,03/24/1901,PLA,PBS,49
1750,50,gp70_B.CaseA_V1_V2,42.5,-49.400000,0.1789,PL1,1,03/24/1901,PLA,PBS,12
1751,50,p24,-44.0,-48.544444,0.0511,PL1,1,03/24/1901,PLA,CIT,19
1752,50,gp41,64.5,59.966667,0.0762,PL1,1,03/24/1901,PLA,CIT,44
1753,50,Con 6 gp120/B,49.8,45.266667,0.1678,PL1,1,03/24/1901,PLA,CIT,72
1754,50,B.con.env03 140 CF,42.5,46.966667,0.2528,PL1,1,03/24/1901,PLA,CIT,65
1755,50,Blank,4.5,NaN,0.0987,PL1,1,03/24/1901,PLA,CIT,53
1756,50,Con S gp140 CFI,29.0,24.466667,0.1177,PL1,1,03/24/1901,PLA,CIT,3
1757,50,p31,207.0,202.466667,0.1597,PL1,1,03/24/1901,PLA,CIT,50
1758,50,p66 (RT),-24.8,-28.444444,0.1100,PL1,1,03/24/1901,PLA,CIT,42
1759,50,MulVgp70_His6,5.8,NaN,0.0925,PL1,1,03/24/1901,PLA,CIT,49
1760,50,gp70_B.CaseA_V1_V2,50.0,44.244444,0.0581,PL1,1,03/24/1901,PLA,CIT,12

## Exercise: Filter and export data

Use pandas and the to_sql method to:

1. Write a table containing all columns from the data frame, but only rows for the **p31** analyte
2. Write a table containing rows with **p31** analyte but only the following columns:
    - analyte
    - fi-bkgd
2. Append to the table in step 2 with data for **p24** analyte