## Relational Databases

The movielens dataset - http://grouplens.org/datasets/movielens/

Full dataset is 27,000 movies, 21,000,000 ratings. How big is the subset?

In [23]:
from sqlite_utils import SQLiteDatabase

In [24]:
ml = SQLiteDatabase('movielens-small.db')
query = "SELECT * FROM movies LIMIT 10"
ml.query("SELECT * FROM movies LIMIT 5")

In [25]:
ml.query("SELECT * FROM ratings limit 5")

In [26]:
ml.query("SELECT * FROM links limit 5")

In [27]:
ml.query("SELECT COUNT(*) FROM movies WHERE year = 2003")

# Joins

This database, like most useful relational databases, has data in different tables, and those tables relate to each other. The movies table has the titles for each movie, but the other tables have data about those movies

- Movies:Links is 1:1
- Movies:Ratings 1:Many
- Movies:Tags is Many:Many

Let's explore this with distinct counts

First do links because it's 1:1. Talk about doing a simple join to get the title and the IMDB link

In [28]:
ml.query('SELECT COUNT(DISTINCT(movieId)), COUNT(*) from links')

In [29]:
ml.query('SELECT COUNT(DISTINCT(movieId)), COUNT(*) from ratings')

In [30]:
ml.query('SELECT COUNT(DISTINCT(movieId)), COUNT(DISTINCT(tag)), COUNT(*) from tags')

Perhaps final example. Only thing left to do would be to join on tags.
Reminder - you don't need to see everything to include it in the query

In [32]:
ratings_query = '''
SELECT 
    movies.title, 
    count(ratings.rating) AS num_ratings, 
    avg(ratings.rating) AS avg_rating
FROM movies
JOIN ratings ON movies.movieId = ratings.movieId
GROUP BY movies.title 
HAVING count(ratings.rating) > 100 
ORDER BY avg_rating DESC limit 10
'''
ml.query(ratings_query)

## Filtering Data

- Simple filtering: col = value
- LIKE, IN, comparisons

## Sorting Data

- Multiple sorts, ordering matters

## Aggregation

- DISTINCT
- AVG

## Joins

This is the relationship in relational database management systems